@charset "UTF-8";

header {width: 100%; padding: 0px 10%; margin: 0 auto; padding-top: 25px; position: fixed; left: 0; right: 0; z-index: 10;}

#logo {font-family: "GangwonEdu_OTFBoldA"; font-size: 40px; float: left;}

nav ul {float: right;}
nav ul li {float: left; margin: 10px;}
nav ul li a {text-align: center; font-family: "GangwonEdu_OTFBoldA"; font-size: 25px;}
nav ul li a:hover {color: skyblue;}